/*
 primary: #bbdefb
light: #eeffff
dark: #8aacc8
 */

html, body {
    padding: 2em;
    background-color: #eeffff;  
}

#loadingPrompt {
    position: absolute;
    /* font-size: 3em; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#greeting, #approx-location { 
    font-size: 2em;
    font-weight: 500;
}

.hour-cards {
    width: 50%;
    margin: 1em 0 1em 0;
    font-size: 0.75em;
}

.hour-cards:hover {
    cursor: pointer;
}

.hour-cards .card-header {
    font-size: 2em;
    text-align: right;
    background-color:#bbdefb;
}

#weather-icons {
    max-width: 50px;
    max-height: 50px;
}

#hour-header {
    display: inline;
    float: left;
}

