/*
 primary: #bbdefb
light: #eeffff
dark: #8aacc8
 */

/* ANCHOR: App.js */

button:focus {
    /* outline: none; */
    box-shadow: 0 0 0 !important;
}

#parallax {
    padding: 3em;
    background-attachment: fixed !important;
}

#loadingPrompt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#header {
    margin-bottom: 1em;
    align-items: flex-end;
}

#greeting {
    font-size: 4em;
    font-weight: 500;
    color: white;
    text-shadow: 0 0 4px black;
}

#last-update {
    color: white;
    font-weight: 500;
    color: white;
    text-shadow: 0 0 3px black;
    margin-bottom: 0.5em;
}

#weather-cards {
    width: 45%;
    display: inline-block;
    margin-right: 5%;
    vertical-align: top;
    margin-bottom: 1em;
}

#weather-cards .accordion, .hour-cards {
    box-shadow: 0 0 5px #8aacc8;
}

.hour-cards {
    font-size: 0.75em;
}

.hour-cards:hover {
    cursor: pointer;
}

.hour-cards .card-header {
    font-size: 2em;
    text-align: right;
    background-color: #bbdefb;
}

#weather-icons {
    max-width: 50px;
    max-height: 50px;
}

#hour-header {
    display: inline;
    float: left;
}

/* ANCHOR: WeatherTips.jsx */

#tipCollection {
    vertical-align: top;
    width: 45%;
    margin-left: 5%;
    margin-bottom: 3em;
    box-shadow: 0 0 5px #8aacc8;
    background-color: #bbdefb;
    border-radius: 0.25em;
    padding: 1em;
    display: inline-block;
}

#tipWrapper {
    white-space: pre-line;
    margin-bottom: 0.5em;
    border-color: #8aacc8;
}

#timeHeader, #tipHeader .accordion-button {
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 0 5px black;
}

#tipHeader .accordion-button {
    font-size: 0.75em;
    background-color: inherit;
}

#tipHeader {
    padding: 0.5em
}

#timeHeader {
    text-align: center;
}